@use '../abstract/variables' as *;

.cars {
    gap: 22px;
  }
  .car-card {
    gap: 42px;
    width: 95%;
    .car-img-container {
      height: 155px;
      .behind-img {
        position: relative;
        right: 13px;
        height: 89px;
        width: 89px;
      }
      .car-img {
        position: relative;
        background-size: cover;
        min-height: 108px;
        width: 108px;
        left: 19px;
        top: -62px;
        object-fit: cover;
      }
    }
    .car-info {
      gap: 6px;
      .car-name {
        font-weight: 800;
      }
      .car-feature {
        color: $alt-secondary;
        font-style: italic;
      }
      .car-desc {
        line-height: 18px;
        font-size: 13px;
      }
    }
    .bord {
      color: $grey-color;
      margin-bottom: 0;
    }
  }

@media (min-width: 786px) {
    .cars {
        display: grid !important;
        grid-template-columns: auto auto;
        justify-items: center;
        .section-title,
        .bord {
          grid-column: 1/3;
          text-align: center;
        }
      }
}