body {
  padding: 0;
}
body .home-bg {
  position: absolute;
  background-size: cover;
  z-index: -1;
  opacity: 0.13;
  height: auto;
  width: 100%;
  top: -100px;
}

.bord {
  width: 40px;
  color: #ec5242;
  opacity: 1;
  margin-top: 0;
}

@media (max-width: 768px) {
  nav {
    padding: 23px;
  }
  nav .nav-bars {
    color: #272a31;
  }
  nav .nav-btns {
    background-color: white;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.95;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    font-size: 39px;
    gap: 30px;
    padding: 20% 0 0 7%;
    transition: 2s;
  }
  nav .nav-btns .close {
    position: absolute;
    right: 20px;
    top: 12px;
    width: 52px;
    height: 52px;
    text-align: center;
    border-radius: 120px;
    color: #d3d3d3;
    background-color: #ec5242;
  }
  nav .nav-btns .special {
    padding: 0 !important;
  }
}
@media (min-width: 768px) {
  nav {
    padding: 0px;
  }
  nav .nav-bars {
    display: none;
  }
  nav #toolbar-items {
    display: flex !important;
    background-color: #272a31;
    color: #d3d3d3;
    margin-bottom: 0 !important;
    padding-right: 16% !important;
  }
  nav #toolbar-items .fa {
    line-height: 0;
  }
  nav .nav-items {
    background-color: white;
    display: flex !important;
    height: 70px;
    padding: 0px 16% 0 22% !important;
  }
  nav .nav-items .logo {
    gap: 6px;
  }
  nav .nav-items .logo .logo-img {
    position: absolute;
    -webkit-animation: car 3s;
            animation: car 3s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    left: 316px;
  }
  nav .nav-items .logo .vertical-bord {
    width: 3px;
    height: 50px;
    opacity: 0.6;
    background-color: #272a31;
  }
  nav .nav-items .logo .carento {
    color: #ec5242;
  }
  nav .nav-items .nav-btns {
    gap: 80px;
  }
  nav .nav-items .nav-btns .nav-item a:hover {
    color: #ec5242 !important;
  }
  nav .nav-items .nav-btns .special {
    border: 5px solid #ec5242;
  }
  nav .nav-items .nav-btns .close {
    display: none;
  }
}
.hero {
  padding: 23px;
}
.hero .hello {
  margin-bottom: 0;
  color: #ec5242;
}
.hero .title {
  color: #ec5242;
  font-weight: bolder;
  font-size: 37px;
  background-image: linear-gradient(to bottom, rgba(40, 41, 43, 0.3), rgba(44, 46, 49, 0.1)), url(../assets/elements/text-bg.jpg);
  background-size: contain;
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.hero .home-para {
  background-color: #f7f7f7;
  border: 3px solid white;
  padding: 5px;
  font-size: 14px;
}

@media (min-width: 786px) {
  .hero {
    max-width: 70%;
    padding-left: 16%;
    padding-top: 6%;
  }
  .hero .hello {
    font-size: 55px;
  }
  .hero .title {
    font-size: 93px;
  }
  .hero .home-para {
    max-width: 69%;
    font-size: 16px;
    padding: 20px;
  }
}
.services {
  background-color: #272a31;
  background-image: linear-gradient(to bottom, rgba(40, 41, 43, 0.7), rgba(44, 46, 49, 0.7)), url("../assets/bgs/x.png");
  gap: 8px;
  background-size: 10px;
  min-height: 80vh;
}
.services .service-card {
  background-image: linear-gradient(to right, rgba(102, 104, 109, 0.3), rgba(100, 112, 130, 0.3));
  width: 95%;
  justify-content: flex-start;
  gap: 6px;
  align-items: center;
  height: 90px;
}
.services .service-card .service-img {
  width: 38px;
}
.services .service-card .service-title {
  min-width: 100px;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 0;
  color: #ec5242;
}
.services .service-card .service-desc {
  font-size: smaller;
  margin-bottom: 0;
  color: #d8dde0;
}
.services .btn {
  background-color: #ec5242;
  border-radius: 0;
  color: #d3d3d3;
  height: 55px;
  width: 238px;
  margin-top: 28px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 28px;
}
.services .btn:hover {
  background-color: #c73828;
}

@media (min-width: 786px) {
  .services {
    display: grid !important;
    grid-template-columns: auto auto auto auto auto auto;
    align-content: center;
    align-items: start !important;
    min-height: 60vh;
    justify-items: center;
    justify-content: center;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  .services .section-title,
.services .bord,
.services .btn {
    grid-column: 1/7;
  }
  .service-card {
    flex-direction: column !important;
    height: 278px !important;
    max-width: 268px;
    padding-top: 30px !important;
  }
  .service-card .service-title {
    min-width: auto !important;
    font-size: 25px !important;
    padding-top: 18px;
  }
  .service-card .service-desc {
    text-align: center;
    font-size: 16px !important;
    padding-top: 10px;
  }
}
.cars {
  gap: 22px;
}

.car-card {
  gap: 42px;
  width: 95%;
}
.car-card .car-img-container {
  height: 155px;
}
.car-card .car-img-container .behind-img {
  position: relative;
  right: 13px;
  height: 89px;
  width: 89px;
}
.car-card .car-img-container .car-img {
  position: relative;
  background-size: cover;
  min-height: 108px;
  width: 108px;
  left: 19px;
  top: -62px;
  -o-object-fit: cover;
     object-fit: cover;
}
.car-card .car-info {
  gap: 6px;
}
.car-card .car-info .car-name {
  font-weight: 800;
}
.car-card .car-info .car-feature {
  color: #ec5242;
  font-style: italic;
}
.car-card .car-info .car-desc {
  line-height: 18px;
  font-size: 13px;
}
.car-card .bord {
  color: #a6aaad;
  margin-bottom: 0;
}

@media (min-width: 786px) {
  .cars {
    display: grid !important;
    grid-template-columns: auto auto;
    justify-items: center;
  }
  .cars .section-title,
.cars .bord {
    grid-column: 1/3;
    text-align: center;
  }
}
.partners {
  background-color: #272a31;
  gap: 8px;
  background-size: 10px;
  min-height: 250px;
  padding-bottom: 48px;
}
.partners .section-title {
  padding-top: 48px;
  color: #d3d3d3;
}
.partners .partners-logo {
  max-width: 70%;
}

@media (min-width: 786px) {
  .partners-logo {
    flex-direction: row !important;
    gap: 120px;
  }
}
footer {
  background-color: #f7f7f7;
  height: 130px;
  justify-content: space-around;
}
footer .carento {
  margin: 0 !important;
}
footer .credit {
  margin: 0 !important;
}

@media (min-width: 768px) {
  footer {
    justify-content: center !important;
    gap: 95px;
  }
}
@-webkit-keyframes car {
  0% {
    transform: rotate(0deg);
    left: -150px;
  }
  97% {
    transform: rotate(20deg);
    left: 316px;
    -webkit-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
            animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  }
  98% {
    transform: rotate(15deg);
    left: 316px;
    -webkit-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
            animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  }
  99% {
    transform: rotate(5deg);
    left: 316px;
    -webkit-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
            animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  }
  100% {
    transform: rotate(0deg);
    left: 316px;
    position: block;
  }
}
@keyframes car {
  0% {
    transform: rotate(0deg);
    left: -150px;
  }
  97% {
    transform: rotate(20deg);
    left: 316px;
    -webkit-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
            animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  }
  98% {
    transform: rotate(15deg);
    left: 316px;
    -webkit-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
            animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  }
  99% {
    transform: rotate(5deg);
    left: 316px;
    -webkit-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
            animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  }
  100% {
    transform: rotate(0deg);
    left: 316px;
    position: block;
  }
}/*# sourceMappingURL=style.css.map */